# Environment
APP_ENV=dev

# API
APP_HOST=0.0.0.0
APP_PORT=8000

# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_BDNAME=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Dockerfile
EXPOSED_APP_PORT=8000 # Puerto en el que se expone de forma local el backend